.ham_Burger_Menu {
  display: none;
}
.ham_Burger_Menu_open{
    display: none;
}

.ham_Burger_Icon {
  display: none;
}

.cart, .cart_open{
  width: 300px;
  background-color:  white;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  transition: 600ms;
  overflow: hidden;
  overflow-y: auto ;
  padding: 2rem 1rem ;
  z-index: 20;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform-origin: right;
  /* z-index: 2; */
  
}

.cart{
  transform: translateX(100%);
}

.cart_open{
  transform: translateX(0);
}

@media (max-width: 550px) {
  .ham_Burger_Icon {
    display: block;
  }

  .cart, .cart_open{
    width: 75vw;
  }


  .ham_Burger_Menu , .ham_Burger_Menu_open {
    display: block;
    transition: 600ms;
    overflow: hidden;
    width: 75vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: white;
    position: absolute;
    transition: 600ms;
    padding: 2rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform-origin: left;
    z-index: 20;
  }

  .ham_Burger_Menu{
    transform:  translateX(-100%);
  }

  .ham_Burger_Menu_open {
    transform: translateX(0);
}
}